<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.user.UserMapper">
    <insert id="insertUser">
        INSERT INTO user(username, password, name, gender, age,role)
        VALUES(#{username}, #{password}, #{name}, #{gender},#{age}, #{role})
    </insert>

    <select id="findUserByUsername" resultType="com.example.backend.user.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

<!--    <update id="updateUser">-->
<!--        UPDATE user-->
<!--        SET-->
<!--            name = #{name},-->
<!--            gender = #{gender},-->
<!--            birthDate = #{birthDate},-->
<!--            description = #{description},-->
<!--            age = #{age},-->
<!--            address = #{address},-->
<!--            phone = #{phone}-->
<!--        WHERE username = #{username}-->
<!--    </update>-->

</mapper>
